<h1><%= @user.name %>のページ</h1>
<p><%= image_tag @user.image.url %></p>
<p>メールアドレス: <%= @user.email %></p>

<h2>お気に入りにしたブログ</h2>
<table>
<tr>
  <th>タイトル</th>
  <th>内容</th>
  <th>投稿者</th>
</tr>
  <% @user.favorite_blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= blog.user.name %></td>
    </tr>
  <% end %>
</table>

<div class= "button">
  <a href="/" class="btn btn-default btn-sm" role="button">トップページへ</a>
</div>